body{
    background-color: #efebe4;
}
.todo{
    margin: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

 /*estilos del menu*/
.nav1{
    background-color:#535633;
    margin-top: 0%; /* Lo sitúa en la parte superior */
    left: 0;
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 15%;
    padding: 17px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}
/*imagen del menu*/
.logoheader{
    width: 85px;
    height: 82px;
    float: left;
    margin-left: 15%;
}
/*termina los estilos del menu*/

/*Estilo de las imagenes*/
.ima1{
    float: left;
    width: 520px;
    height:550px;
    padding-left: 35px;
    margin: 80px;
    opacity: 0; /* Inicialmente invisibles */
    transition: opacity 1.5s ease-in-out; /* Transición suave de opacidad */
   box-shadow:inset;
   overflow: hidden; /* Para ocultar el zoom fuera de los límites de la imagen */  
   
}
.ima1.aparecer {
    opacity: 1; /* Hacer visible */
}
  /* Efecto de zoom al hacer hover */
.ima1 img {
    transition: transform 0.5s ease; /* Transición suave de transformación */
}
.ima1:hover img {
    transform: scale(1.1); /* Zoom al 110% al hacer hover */
}
.ima2{
    float: right;
    width: 550px;
    height:580px;
    padding-left: 35px;
    margin: 80px;
    opacity: 0; /* Inicialmente invisibles */
    transition: opacity 1.5s ease-in-out; /* Transición suave de opacidad */
}
.ima2.aparecer {
    opacity: 1; /* Hacer visible */
} 
.ima3{
    float: left;
    width: 550px;
    height:580px;
    padding-left: 35px;
    margin: 80px;
    opacity: 0; /* Inicialmente invisibles */
    transition: opacity 1.5s ease-in-out; /* Transición suave de opacidad */
}
.ima3.aparecer {
    opacity: 1; /* Hacer visible */
}
.ima4{
    float: right;
    width: 520px;
    height:550px;
    padding-left: 35px;
    margin: 80px;
    opacity: 0; /* Inicialmente invisibles */
    transition: opacity 1.5s ease-in-out; /* Transición suave de opacidad */
}
.ima4.aparecer {
    opacity: 1; /* Hacer visible */
}
/*Termina los estilos de las imagenes*/

/*estilos de el titulo Cornavin*/
h1{
    font-size: 35px;
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    letter-spacing: .4em;
    letter-spacing: .17em; 
    text-transform: uppercase;
    font-weight: bold;
    color: #535633;
    transform: translateY(20px); /* Desplazamiento inicial hacia abajo */
    transition: transform 1.5s ease-in-out; /* Transición suave de transformación */
} 
h1.aparecer {
    transform: translateY(0); /* Mostrar el texto en su posición original */
}
/*termina estilo cornavin*/

/*estilos de los diferentes subtitulos (Valores, historia..)*/
h2{ 
   font-size: 20px;
   text-align: center;
   font-family: "DM Serif Display", serif;
   font-weight: 400;
   letter-spacing: .4em;
   letter-spacing: .17em; 
   text-transform: uppercase;
   font-weight: bold;
   color: #535633;
   padding-left: 110px;
    padding-right: 130px;
    transform: translateY(20px); /* Desplazamiento inicial hacia abajo */
    transition: transform 1.5s ease-in-out; /* Transición suave de transformación */
} 
h2.aparecer {
    transform: translateY(0); /* Mostrar el texto en su posición original */
}

/*estilos de los parrafos*/
p {
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Fuente elegante y legible */
    font-size: 18px; /* Tamaño de fuente legible */
    color: #000000; /* Color de texto oscuro */
    line-height: 2; /* Espaciado entre líneas para mejorar la legibilidad */
    margin-bottom: 25px; /* Espaciado inferior para separar de otros elementos */  
    padding-left: 131px;
    padding-right: 131px;
    text-align: center;
    transform: translateY(20px); /* Desplazamiento inicial hacia abajo */
    transition: transform 1.5s ease-in-out; /* Transición suave de transformación */

} 
p.aparecer {
    transform: translateY(0); /* Mostrar el texto en su posición original */
  }
/*termina los estilos de cada parrafo*/

 
 /*Estilos pie de pagina*/
footer {
    background-color: #535633;
    text-align: center;
    height: 350PX;
    font-family: montserrat;
}
.column {
    width: 30%;
    height: -30%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
}
.column img{
  width: 100px;
  height: 100px;
  margin-left: -300px;
  margin-top: 40px;
  margin-bottom: -10px;
}
.column h3 {
  margin-left: -10px;
    margin-top: 60px;
    font-size: 11px;
}
.column ul {
    list-style-type: none;
    padding: 0;
}
.column ul li {
    margin-bottom: 1px;
    text-align: justify;
   
}
.column ul li a {
    color: #efebe4;
    text-decoration: none;
    font-size: 15px;
    font-family: montserrat;
}
.column ul li a:hover {
    text-decoration: none;
}
.clearfix {
    clear: both;
}
h4{
    color: #efebe4; 
    margin-bottom: -25px;
}
h3{
    color: #efebe4;
}
.sgn{
  margin-top: 250px;
  font-size: 11px;
  float: left;
  margin-left: -440px;
  margin-bottom: 40px;
  font-family: montserrat;
}
.text{
  text-align: -3pc;
  margin-top: 2px;
  font-size: 13px;
  float: left;
  font-family: montserrat;
  margin-left: 18px;
  text-align: justify;
}
.tli{
  margin-left: 150px;
}
.contata{
  margin-left: -300px ;
  font-size: 11PX;
  margin-top: 60px;
}
.terceco{
  margin-left: -1px;
  margin-top: 5px;
}
.container-footer {
	width: 100%;
  height: 40px;
	background:  #686b46; 
    margin-top: -50px;
}
.copyright {
  color: #efebe4; 
  font-size: 15px;
}
.bpie {
    width: 30px;
    height: 30px;
    border: 0px;
    border-radius: 100px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-left: -2px;
    margin-top: 30px;
}
.bpie:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/*termina los estilos del pie de pagina*/

/*estilos del boton flotante del whasAPP*/
.whatsapp-float {
    position: fixed; /* Fija el botón en la ventana del navegador */
    bottom: 20px; /* Distancia desde el borde inferior */
    right: 20px; /* Distancia desde el borde derecho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}
  .whatsapp-float img {
    width: 60px; /* Ajusta el tamaño del icono de WhatsApp */
    height: auto;
    border-radius: 50%; /* Para que el botón tenga forma de círculo */
}
/*termina los estilos del boton flotante*/

  
@media (max-width: 768px) {
    .ima1 , .ima2 , .ima3 , .ima4{
        margin: 0;
        padding: 0;
        width: 90vw;
        height: auto;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}

    p {
        padding: 0;
        margin: 0;
        line-height: 1.5;
        text-align: justify;
        
    }

    h2 {
        padding: 0;
        margin: 30px 0;
    }


    .whatsapp-float {
        bottom: 80px;
    }

    .aparecer {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
}

    
}
 
  
 